*{  margin: 0; padding: 0; box-sizing: border-box;  }

:root{
    --gray:#CCCCCC;
    --black:#000000;
    --white:#FFFFFF;
}

body{
    background-color: var(--black);
    color: var(--white);
    margin: 14px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--black);
    padding: 14px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .start{
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--white);
}
nav .center{
    display: flex;
    gap: 24px;
    font-size: 18px;
}

nav button{
    padding: 8px;
    border-radius: 20px;
    border: none;
}
nav button:hover, .start:hover{ cursor: pointer;}

nav .btn1{
    color: var(--white);
    background-color: var(--black);
}
nav .btn1:hover{    background-color: #191818;}
nav .btn2:hover{    background-color: #dcdbdb;}

/* Complete nav bar */

.tags{
    margin-top: 160px;
}
.tags h1{
    font-weight: 300;
}
.tags button{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
}
.tags button:hover{
    cursor: pointer;
    background-color: var(--gray);
}
/* Tags ya Info complete */

.hero{
    width: 100%;
    height: 105vh;
    background-image: url(./Img/bg-img.png);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containt img{
    width: 80%;
    height: calc(105vh - 80px);
    background-color: var(--black);
    border-radius: 10px;
}
