*{  margin: 0;  padding: 0; box-sizing: border-box; }

:root {
  --white: #ffff;
  --dark-aqua: #18e299;
  --black:#08090b;
  --light-aqua:#90ecc5;
}

.landing{
    width: 100%;
    background-image: url(./Img/bg-light.svg);
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

nav{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;

} 

nav div{
    display: flex;
}

nav .center{
    gap: 5px;
    margin: 0 3vw 0 9vw;
}
nav a{
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
}
nav a:hover{
    background-color: rgb(245, 240, 240, 0.15);
}


nav button{
    padding: 5px 10px;
    border-radius: 15px;
    margin: 0 2px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
nav button:hover{
    cursor: pointer;
}
nav .cta1{
    color: var(--white);
    background-color: rgb(245, 240, 240, 0.15);
}
nav .cta2:hover{
    opacity: 70%;
}
/* Nav Bar Complete */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new{
    width:fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 35px auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    font-size: 18px;
    padding: 6px 8px;
}
.new:hover{ cursor: pointer; }
.new button{
    padding: 2px 6px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
}
.new .btn1{
    background-color: rgb(15, 147, 15);
    color: var(--white);
}
/* New tab complete */

h1, .para{
    display: inline-block;
    text-align: center;
    font-size: 4vw;
}
.para{
    margin: 30px 0;
    font-size: 18px;
    line-height: 2;
    font-weight: 500;
}

.outersearch{
    text-align: center;
}

.search{
    background-color: rgba(249, 248, 248, 0.3);
    display: inline-flex;
    border-radius: 20px;
    padding: 5px;
    border: none;
    transform: scale(1.3);
}
.search input{
    background-color:transparent ;
    border: none;
    font-size: 16px;
    padding: 4px 6px;
    color: var(--white);
}
.search input:focus {
    outline: none;             
    box-shadow: none;            
}
.search button{
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
}
.search button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}


.hero img{
    width: 80%;
    margin: 0 auto;
    margin-top: 6vw;
    border-radius: 20px;
}

/* Hero section complete */

.brand{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
img:hover{cursor: pointer;}
.odd, .even{
    display: flex;
    align-items: baseline;
    gap: 16vh;
}

/* Brand section complete */

.built{
    padding: 20px 25%;
    text-align: center;
}
.built p{
    color: gray;
    font-size: 17px;
}
.built h2{
    font-size: xx-large;
    line-height: 2;
}

/* Built complete */

.card{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.card .left,.right{
    width: 35%;
    box-shadow: 0 0 2px 1px gainsboro;
    padding: 15px 20px;
    border-radius: 15px;
    line-height: 1.2;

    h3{
         margin: 15px 0;
         font-size: x-large;
    }
    p{
        color: rgb(147, 144, 144);
        padding-right: 40%;
        font-size: large;
    }
}
code{
    color: var(--dark-aqua);
    font-size: 14px;
}
/* coplete Card */

.assiant{
    width: 70%;
    margin: 30px 15%;
    text-align: center;
    box-shadow: 0 0 2px 1px gainsboro;
    font-size: large;
    padding: 20px 0;
    border-radius: 15px;

    h3{
        margin: 15px 0;
    }
    p{
        padding: 0 20%;
        color: grey;
    }
}
/* Complete */

.Explore{
    width: 100%;
    height: 150vh;
    background-color: rgb(246, 246, 246);
    padding: 60px 15%;


    .top{
        display: flex;
        position: relative;
        .left{
            
            h4{
                font-size: 3rem;
                line-height: 0.8;
                margin: 20px 0;
            }
            p{
                font-size: large;
                color: rgb(95, 92, 92);
            }
        }
    }
}

.Explore button{
    background-color: var(--black);
    color: var(--white);
    height: 40px;
    font-size: large;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
.Explore button:hover{
    background: #171717;
}

.Explore .last{
    background-image: url(./Img/anthropic.svg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    margin-top: 50px;
    border-radius: 20px;
    color: var(--white);
    padding: 40px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h5{
        font-size: 22px;
        margin: 20px 0;
    }

    .view{
        margin-top: 50px;
       display: flex;
       flex-direction: column;
        
        span{
            font-size: xx-large;
        }
    }
}


        
