*{  margin: 0;  padding: 0; box-sizing: border-box; }

:root {
  --white: #ffff;
  --dark-aqua: #18e299;
  --black:#08090b;
  --light-aqua:#90ecc5;
}

.landing{
    width: 100%;
    height: 150vh;
    background-image: url(./Img/bg-light.svg);
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

nav{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;

} 

nav div{
    display: flex;
}

nav .center{
    gap: 5px;
    margin: 0 3vw 0 9vw;
}
nav a{
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
}
nav a:hover{
    background-color: rgb(245, 240, 240, 0.15);
}


nav button{
    padding: 5px 10px;
    border-radius: 15px;
    margin: 0 2px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
nav button:hover{
    cursor: pointer;
}
nav .cta1{
    color: var(--white);
    background-color: rgb(245, 240, 240, 0.15);
}
nav .cta2:hover{
    opacity: 70%;
}
/* Nav Bar Complete */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new{
    width:fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 35px auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    font-size: 18px;
    padding: 6px 8px;
}
.new:hover{ cursor: pointer; }
.new button{
    padding: 2px 6px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
}
.new .btn1{
    background-color: rgb(15, 147, 15);
    color: var(--white);
}
/* New tab complete */

h1, .para{
    display: inline-block;
    text-align: center;
    font-size: 4vw;
}
.para{
    margin: 30px 0;
    font-size: 18px;
    line-height: 2;
    font-weight: 500;
}

.outersearch{
    text-align: center;
}

.search{
    background-color: rgba(249, 248, 248, 0.3);
    display: inline-flex;
    border-radius: 20px;
    padding: 5px;
    border: none;
    transform: scale(1.3);
}
.search input{
    background-color:transparent ;
    border: none;
    font-size: 16px;
    padding: 4px 6px;
    color: var(--white);
}
.search input:focus {
    outline: none;             
    box-shadow: none;            
}
.search button{
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
}
.search button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}


.hero img{
    width: 80%;
    margin: 0 auto;
    margin-top: 6vw;
    border-radius: 20px;
}

/* Hero section complete */




